canvas {
    background-image: url('Artboard\ 1.png');
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-size: 100% 100%;
    margin: 0 auto;
}

body {
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}

.container {
    text-align: center;
}

.group-buttons {
    background-color: #12cbc7;
    border: 2px solid rgb(0, 1, 0);
    /* Green border */
    color: black;
    /* White text */
    padding: 10px 24px;
    /* Some padding */
    cursor: pointer;
    /* Pointer/hand icon */
    float: left;
    /* Float the buttons side by side */
}

img.cards {
    z-index: 6;
}

/* Add a background color on hover */


.sit-down-btn {
    background-color: #3498db;
    /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid black;
}

.user_profile_box {
    color: white;
    border-radius: 25px;
    border: 2px solid rgb(255, 0, 0);
    padding: 20px;
    text-align: center;
    font-size: 30px;
}

.start-game-btn {
    border-radius: 25px;
    background-color: #12cbc7;
    border: 2px solid rgb(0, 1, 0);
    padding: 20px;
    width: 200px;
    height: 100px;
    text-align: center;
    font-size: 30px;
}

.other_user_profile {
    color: white;
    text-outline: black 1px;
    border-radius: 25px;
    border: 2px solid rgb(0, 0, 0);
    padding: 20px;
    width: 125px;
    text-align: center;
    font-size: 30px;
}

.betting_text {
    border-radius: 25px;
    border: none;
    padding: 20px;
    width: 75px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.pot_box {
    border-radius: 25px;
    padding: 20px;
    width: 100px;
    height: 40px;
    text-align: center;
    font-size: 30px;
}

.my_turn {
    border-radius: 25px;
    border: 2px solid rgb(0, 0, 0);
    padding: 20px;
    width: 300px;
    height: 75px;
    text-align: center;
    font-size: 50px;
}

.request-btn:hover {
    background-color: mediumspringgreen;
}

.name-text-box {
    padding: 0;
    height: 30px;
    width: 151px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 16px;
}

.settings {
    padding: 0;
    height: 30px;
    width: 151px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 16px;
}

.request-btn {
    margin-top: 10px;
    line-height: 40px;
    font-weight: bold;
    padding: 0 25px;
    background: #3460db;
    border: none;
    /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


/* .sit-down-btn::before {
top: 0;
border-radius: 0 0 50% 50%;
}

.sit-down-btn:hover::before {
height: 180%;
} */

.settings {
    position: absolute;
}